<ion-header collapse="condense">
  <ion-toolbar></ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <a routerLink="/login-email">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </a>
  <ion-grid>
    <ion-row>
      <ion-img src="assets/LOGO.png"></ion-img>
    </ion-row>
    <ion-row>
      <form class="form">
        <ion-input
          placeholder="(85) 99233-6758"
          [brmasker]="{phone: true}"
        ></ion-input>
        <a routerLink="/dashboard">
          <ion-button expand="block" shape="round">Recuperar senha</ion-button>
        </a>
      </form>
    </ion-row>
  </ion-grid>
</ion-content>
