ion-content {
    position: relative;
}

#location {
    margin: 0px;
    font-size: 15px;
    font-weight: bold;
}

.header {
    padding: 16px;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;

    ion-input {
        border: 1px solid #836fff;
        margin-right: 8px;
        --padding-top: 8px;
        --padding-bottom: 8px;
        --padding-start: 16px;
        --padding-end: 16px;
        border-radius: 5px;
        --placeholder-color: #836fff;
    }

    ion-avatar {
        width: 56px;
        height: 56px;
    }
}

.banner {
    width: 100%;
    position: relative;

    span {
        position: absolute;
        font-size: 32px;
        color: #fff;
        font-weight: 600;
        bottom: 16px;
        left: 2%;
    }

    img {
        height: 235px;
        width: 100%;
    }
}

.services {
    padding: 16px;

    .list-items {
        display: flex;
        margin-top: 16px;
        overflow-x: auto;
    }

    .item {
        display: flex;
        align-items: center;
        flex-direction: column;
        min-width: 70px;

        span {
            margin-top: 8px;
        }
    }
}

.partner {
    padding: 16px;

    .card {
        display: flex;
        margin-top: 8px;
        border: 1px solid #836fff;
        border-radius: 16px 0px 16px 16px;
        padding: 8px;

        ion-avatar {
            height: 20%;
            width: 20%;
            margin-top: 24px;
            margin-right: 16px;
        }

        article {
            width: 70%;

            h3 {
                font-size: 16px;
                font-weight: 600;
            }

            p {
                font-size: 13px;
            }
        }
    }
}
