<ion-header collapse="condense">
  <ion-toolbar></ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-img src="assets/logo-page-login.png"></ion-img>
      <h1><span>pocket</span>pet</h1>
    </ion-row>
    <ion-row>
      <form class="form">
        <ion-label>
          <ion-icon name="phone-portrait-outline"></ion-icon>
          Com número de celular
        </ion-label>
        <ion-input
          placeholder="(85) 99233-6758"
          [brmasker]="{phone: true}"
        ></ion-input>
        <ion-button expand="block" shape="round">Entrar</ion-button>
      </form>
      <article>
        <a routerLink="/login-kinds">Outras opções</a>
      </article>
    </ion-row>
  </ion-grid>
</ion-content>
