<ion-content fullscreen class="ion-padding">
  <div class="top">
    <a routerLink="/service-step-three" routerDirection="back">
      <ion-icon name="arrow-back-outline" class="arrow-back"></ion-icon>
    </a>
  </div>

  <h1>Seu carrinho</h1>

  <h2>Serviços em:</h2>
  <div class="customer">
    <img src="assets/store.png" />
    <article>
      <h1>Celeiro Petshop</h1>
      <span>Rua Santa Clara 1511, guaribas</span>
      <span><strong>Data:</strong> 10/07/2020 - 10:00</span>
    </article>
  </div>
  <h2>Serviços</h2>
  <div class="data-buy">
    <article>
      <span>Serviço:</span>
      <span>Banho master pelo longo Tamanho PP</span>
    </article>
    <article>
      <span>Data:</span>
      <span>10/07/2020 - 10:00</span>
    </article>
    <article>
      <span>Meu pet:</span>
      <span>Simba</span>
    </article>
    <article>
      <span>Valor:</span>
      <span>R$ 35,00</span>
    </article>
  </div>
  <div class="data-buy">
    <article>
      <span>Serviço:</span>
      <span>Banho master pelo longo Tamanho PP</span>
    </article>
    <article>
      <span>Data:</span>
      <span>10/07/2020 - 10:00</span>
    </article>
    <article>
      <span>Meu pet:</span>
      <span>Simba</span>
    </article>
    <article>
      <span>Valor:</span>
      <span>R$ 35,00</span>
    </article>
  </div>
  <div class="options">
    <ion-input placeholder="Cupom de descontos"></ion-input>
    <ion-button>Usar</ion-button>
    <strong>Total: 70,00</strong>
  </div>

  <h2>Pagamento:</h2>
  <div class="buy">
    <strong>Crédito pelo APP</strong>
    <span>Selecionar</span>
  </div>
  <h2>Termo de compromisso:</h2>
  <div class="contract">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem fuga,
    possimus ratione vero ipsam doloremque quam ea nesciunt enim autem minus
    alias, consectetur nostrum, eligendi quasi tempore officia odio distinctio.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem fuga,
    possimus ratione vero ipsam doloremque quam ea nesciunt enim autem minus
    alias, consectetur nostrum, eligendi quasi tempore officia odio distinctio.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem fuga,
    possimus ratione vero ipsam doloremque quam ea nesciunt enim autem minus
    alias, consectetur nostrum, eligendi quasi tempore officia odio distinctio.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem fuga,
    possimus ratione vero ipsam doloremque quam ea nesciunt enim autem minus
    alias, consectetur nostrum, eligendi quasi tempore officia odio distinctio.
  </div>

  <a>
    <ion-button expand="block" shape="round">Agendar</ion-button>
  </a>
</ion-content>

<ion-footer>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button>
        <a routerLink="/dashboard">
          <ion-icon name="home-outline"></ion-icon>
        </a>
      </ion-tab-button>

      <ion-tab-button>
        <a routerLink="/dashboard">
          <ion-icon name="paw-outline"></ion-icon>
        </a>
      </ion-tab-button>

      <ion-tab-button>
        <a routerLink="/dashboard">
          <ion-icon name="heart-outline"></ion-icon>
        </a>
      </ion-tab-button>

      <ion-tab-button>
        <a routerLink="/dashboard">
          <ion-icon name="heart-outline"></ion-icon>
        </a>
      </ion-tab-button>

      <ion-tab-button>
        <a routerLink="/dashboard">
          <ion-icon name="person-outline"></ion-icon>
        </a>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-footer>
