<ion-content fullscreen class="ion-padding">
  <div class="top">
    <a routerLink="/dashboard" routerDirection="back">
      <ion-icon name="arrow-back-outline" class="arrow-back"></ion-icon>
    </a>

    <span>Banho</span>
  </div>
  <ion-input placeholder="Busque por serviço ou parceiro"></ion-input>

  <div class="options">
    <span> Local </span>
    <span> Avaliação </span>
    <span> Preço </span>
  </div>

  <h3>Qual banho você gostaria?</h3>

  <div class="list-item">
    <div class="item">
      <ion-avatar>
        <img src="assets/dog.jpg" />
      </ion-avatar>
      <div class="details">
        <h2>Banho master pelo longo</h2>
        <h2>Tamanho pp</h2>
        <span>Celeiro petshop</span>
        <span>
          <ion-icon name="location-outline"></ion-icon>
          Guaribas
        </span>
      </div>
      <div class="actions">
        <a>
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </a>
        <span>R$ 35,00</span>
      </div>
    </div>

    <div class="item">
      <ion-avatar>
        <img src="assets/dog.jpg" />
      </ion-avatar>
      <div class="details">
        <h2>Banho master pelo longo</h2>
        <h2>Tamanho pp</h2>
        <span>Celeiro petshop</span>
        <span>
          <ion-icon name="location-outline"></ion-icon>
          Guaribas
        </span>
      </div>
      <div class="actions">
        <a>
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </a>
        <span>R$ 35,00</span>
      </div>
    </div>

    <div class="item">
      <ion-avatar>
        <img src="assets/dog.jpg" />
      </ion-avatar>
      <div class="details">
        <h2>Banho master pelo longo</h2>
        <h2>Tamanho pp</h2>
        <span>Celeiro petshop</span>
        <span>
          <ion-icon name="location-outline"></ion-icon>
          Guaribas
        </span>
      </div>
      <div class="actions">
        <a>
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </a>
        <span>R$ 35,00</span>
      </div>
    </div>
    <div class="item">
      <ion-avatar>
        <img src="assets/dog.jpg" />
      </ion-avatar>
      <div class="details">
        <h2>Banho master pelo longo</h2>
        <h2>Tamanho pp</h2>
        <span>Celeiro petshop</span>
        <span>
          <ion-icon name="location-outline"></ion-icon>
          Guaribas
        </span>
      </div>
      <div class="actions">
        <a>
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </a>
        <span>R$ 35,00</span>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="home">
        <ion-icon name="paw-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="home">
        <ion-icon name="heart-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="home">
        <ion-icon name="heart-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="home">
        <ion-icon name="person-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-footer>
