ion-footer {
    position: absolute;
    bottom: 0px;
    height: 50px;
}

ion-tab-bar {
    --background: #7a40fc;
}

ion-icon {
    color: #fff;
    height: 30px;
    width: 30px;
}

.input-top {
    border: 1px solid#7a40fc;
    --padding-top: 16px;
    --padding-bottom: 16px;
    --padding-start: 16px;
    --padding-end: 16px;
    border-radius: 5px;
    --placeholder-color: #7a40fc;
}

.arrow-back {
    font-size: 24px;
    color: #7a40fc;
}

.top {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    span {
        width: 87%;
        text-align: center;
        color: #7a40fc;
    }
}

.options {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 16px;

    span:first-child {
        background-color: #7a40fc;
        color: #fff;
    }

    span {
        border: 1px solid#7a40fc;
        border-radius: 16px;
        padding: 6px 24px;
        color: #7a40fc;
    }
}

.list-item {
    margin-top: 48px;

    .item {
        display: flex;
        margin-bottom: 8px;
        padding-bottom: 8px;
        border-bottom: 1px solid gray;

        ion-avatar {
            --border-radius: 6px;
            width: 70px;
            height: 70px;
            margin-right: 5px;
        }
    }

    .details {
        display: flex;
        flex-direction: column;

        h2 {
            font-size: 15px;
            margin: 3px;
            font-weight: bold;
        }

        span {
            font-size: 14px;
            color: gray;
            margin-left: 5px;

            ion-icon {
                font-size: 16px;
                color: gray;
            }
        }
    }

    .actions {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        a {
            text-align: end;
        }
    }
}

.finally {
    a ion-button {
        margin-top: 30%;
        --background: #0bf4c7;
    }

    .wrapper-input {
        border: 1px solid #7a40fc;
        border-radius: 24px;
        margin-bottom: 16px;
        display: flex;
        align-items: center;
        padding: 0px 13px;

        span {
            display: flex;
            align-items: center;

            ion-icon {
                font-size: 32px;
                color: #000;
                margin-bottom: 3px;
            }
        }

        ion-input {
            margin-left: 8px;
            --placeholder-color: #7a40fc;
        }
    }

    .hours {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 16px;
        overflow-x: auto;

        span {
            border: 1px solid #7a40fc;
            border-radius: 16px;
            padding: 6px 16px;
            color: #7a40fc;
        }
    }
}
