<ion-content fullscreen class="ion-padding">
  <div class="top">
    <a routerLink="/services" routerDirection="back">
      <ion-icon name="arrow-back-outline" class="arrow-back"></ion-icon>
    </a>

    <span>Banho</span>
  </div>
  <ion-input
    placeholder="Busque por serviço ou parceiro"
    class="input-top"
  ></ion-input>

  <div class="options">
    <span> Local </span>
    <span> Avaliação </span>
    <span> Preço </span>
  </div>

  <div class="list-item">
    <div class="item">
      <ion-avatar>
        <img src="assets/dog.jpg" />
      </ion-avatar>
      <div class="details">
        <h2>Banho master pelo longo</h2>
        <h2>Tamanho pp</h2>
        <span>Celeiro petshop</span>
        <span>
          <ion-icon name="location-outline"></ion-icon>
          Guaribas
        </span>
      </div>
      <div class="actions">
        <span>R$ 35,00</span>
      </div>
    </div>
  </div>

  <div class="finally">
    <h2>Estamos chegando ao final</h2>
    <div class="wrapper-input">
      <span>
        <ion-icon name="time-outline"></ion-icon>
      </span>
      <ion-input required placeholder="Selecione o dia"></ion-input>
    </div>

    <div class="hours">
      <span> 17:00 </span>
      <span> 17:00 </span>
      <span> 17:00 </span>
      <span> 17:00 </span>
    </div>

    <a routerLink="/service-step-three">
      <ion-button expand="block" shape="round">Continuar</ion-button>
    </a>
  </div>
</ion-content>

<ion-footer>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button>
        <a routerLink="/dashboard">
          <ion-icon name="home-outline"></ion-icon>
        </a>
      </ion-tab-button>

      <ion-tab-button>
        <a routerLink="/dashboard">
          <ion-icon name="paw-outline"></ion-icon>
        </a>
      </ion-tab-button>

      <ion-tab-button>
        <a routerLink="/dashboard">
          <ion-icon name="heart-outline"></ion-icon>
        </a>
      </ion-tab-button>

      <ion-tab-button>
        <a routerLink="/dashboard">
          <ion-icon name="heart-outline"></ion-icon>
        </a>
      </ion-tab-button>

      <ion-tab-button>
        <a routerLink="/dashboard">
          <ion-icon name="person-outline"></ion-icon>
        </a>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-footer>
