<ion-content fullscreen>
  <div class="header">
    <h2 id="location">Fortaleza, CE</h2>
    <div class="search">
      <ion-input placeholder="Busque por serviço ou parceiro"></ion-input>
      <ion-avatar>
        <img src="assets/dog.jpg" />
      </ion-avatar>
    </div>
  </div>

  <div class="banner">
    <img src="assets/dog-banner.jpg" />
    <span>O melhor amigo do seu melhor amigo.</span>
  </div>

  <div class="services">
    <span>O que [nome] precisa</span>

    <div class="list-items">
      <div class="item">
        <a routerLink="/services">
          <ion-avatar>
            <img src="assets/shower.png" />
          </ion-avatar>
        </a>
        <span>Banho</span>
      </div>

      <div class="item">
        <a>
          <ion-avatar>
            <img src="assets/shower.png" />
          </ion-avatar>
        </a>
        <span>Tosa</span>
      </div>
      <div class="item">
        <a>
          <ion-avatar>
            <img src="assets/shower.png" />
          </ion-avatar>
        </a>
        <span>Hidratação</span>
      </div>
      <div class="item">
        <a>
          <ion-avatar>
            <img src="assets/shower.png" />
          </ion-avatar>
        </a>
        <span>Extra</span>
      </div>
      <div class="item">
        <a>
          <ion-avatar>
            <img src="assets/shower.png" />
          </ion-avatar>
        </a>
        <span>Veterinário</span>
      </div>
    </div>
  </div>

  <div class="partner">
    <span>Parceiros</span>

    <div class="card">
      <ion-avatar>
        <img src="assets/store.png" />
      </ion-avatar>

      <article>
        <h3>Celeiro shop</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores,
          eum, ipsa magni deleniti beatae tempore qui ullam corporis expedita
          quae...
        </p>
      </article>
    </div>
  </div>
</ion-content>
